//$icon-font-path: "bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
$font-stack: Helvetica, sans-serif;
$header-color: #4285F4;
$header-color-pressed: #0759E4;
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 6em;
  padding-bottom: 6em;
  background-color:white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-inverse{
  background-color: $header-color;
}

#navbar > ul:nth-child(2) > li.active > a{
  background-color: $header-color-pressed;
}

#navbar > ul.nav.navbar-nav.pull-right > li > a{
  color: white !important;
}

.navbar-inverse .navbar-nav > .open > a:focus{
  background-color: $header-color-pressed;
}

.post-quote-holder{
  margin: 5px;
  padding: 5px;
  border: 2px dotted gray;
}

/*logo header*/
#logo > a{
  font-family: Garamond, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: rgba(50, 0, 0, 0.5) !important;
}

/*tabs*/
.nav-tabs {
   border-bottom: 1px solid #999999;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
color: #999999;
background-color: #FFFFF9;
border: 1px solid #999999;
border-bottom-color: transparent;
}

tab-heading {
  text-size: 16px !important;
  font-size: 16px;
  a{
    color: black;
  }
}

.noMargin{
  margin-bottom: -2em !important;
}

.dropdown-menu{

}

/*stats*/
/*list*/
.listTitle{
  color: black;
}
.container-fluid{
  margin-top: -20px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    color: white;
  }
}
.odd {
  background-color: #F4F4F4;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.navbar-header{
  margin-top:0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

html, body {
  height: 100%;
}

.navbar-brand {
  font-family: Helvetica, sans-serif;
  letter-spacing: 2px;
  color: white !important;

}

hr {
  margin: 10px 0;
}

h3 {
  font-family: $font-stack;
}

#toggle {
  margin: 0em 0em 0.66em 0.7444em;
}

.timeline {
  list-style: none;
  padding: 20px 0px 0px 0px;
  position: relative;
  width: 100%;

  > li {
    margin-bottom: 1em;
    position: relative;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    > {
      .timeline-panel {
        background-color: white;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 10px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        cursor: pointer;
        &:after {
          position: absolute;
          top: 27px;
          right: -14px;
          display: inline-block;
          border-top: 14px solid transparent;
          border-bottom: 14px solid transparent;
          content: " ";
        }
      }
    }
    &.timeline-inverted > .timeline-panel {
      float: left;
      width: 100%;
    }
  }
}

.nav > li > a:hover, .nav > li > a:focus{
  background-color: transparent;
  color: black;
}

.nav > li > a{
  color: black;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > {
  p, ul {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }
  p + p {
    margin-top: 5px;
  }
}

.marketing {
  margin: 40px 0 !important;
}
.header, .marketing, .footer {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.last{
   margin-bottom: 10em !important;
}

@media (max-width: 767px !important) {
  #postPerDay[height="250px"], #postsPerUser[height="250px"] {
    height: 100px;
  }

  .nav-tabs > li{
      float: none !important;
  }



}

.btn {
  margin-left: 0em;
  border: none;
  border-bottom: 1px solid;
  font-size: 1.4em;
}

.dropdown-menu {
  margin-left: 1.4em;
}

.angucomplete-holder {
  position: relative;
}

.angucomplete-dropdown {
  border-color: #ececec;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  width: auto;
  padding: 6px;
  cursor: pointer;
  z-index: 9999;
  position: absolute;
  /*top: 32px;
  left: 0px;
  */
  background-color: #ffffff;
}

.angucomplete-searching {
  color: #acacac;
  font-size: 14px;
}

.angucomplete-description {
  font-size: 14px;
}

.angucomplete-row {
  padding: 5px;
  color: #000000;
  margin-bottom: 4px;
  clear: both;
}

.angucomplete-selected-row {
  background-color: lightblue;
  color: #ffffff;
}

.angucomplete-image-holder {
  padding-top: 2px;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
}

.angucomplete-image {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border-color: #ececec;
  border-style: solid;
  border-width: 1px;
}

.angucomplete-image-default {
  /* Add your own default image here
   background-image: url('/assets/default.png');
  */
  background-position: center;
  background-size: contain;
  height: 34px;
  width: 34px;
}

.circle {
  border-radius: 50%;
  height: 6em;
  width: 6em;
  margin: auto;
  border: 2px solid $header-color;
}

.circle-content {
  float: left;
  line-height: 1;
  margin-top: -0.5em;
  padding-top: 50%;
  text-align: center;
  width: 100%;
  font-size: 0.76em;
  text-transform: uppercase;
  margin-bottom: 10em;
}

.circle:hover{
  border: 3px solid $header-color-pressed;
  cursor: pointer;
  font-color: #4090db;
}

