<!-- <p>This is the about view.</p>-->


<h1>Vad är RankPosts?</h1>

<p>Trådar på Flashback Forum är en djungel. Bland tusentals inlägg i en enda tråd är det svårt att hitta något väsentligt. De allra flesta inlägg tillför ingen substans till diskussionen. Men här och där finns det bra inlägg från kunniga användare som fångar upp viktiga aspekter av det som diskuteras.</p>

<p>RankPosts presenterar en analys av valda trådar från Flashback Forum för att ta reda på de viktigaste inläggen/meningarna och de mest betydelsefulla användarna för tråden. Analysen bygger på matematiska algoritmer och resulterar i att inlägg och meningar rangordnas.</p>

<h3>Viktigaste inläggen</h3>
Inlägg rangordnas efter hur viktiga/relevanta de är för diskussionen. De 40 viktigaste inläggen presenteras.

<h3>Viktigaste meningarna</h3>
Meningar från alla inlägg rangordnas efter hur viktiga/relevanta de är. De 40 viktigaste meningarna presenteras.


<h3>Hur sker rangordningen?</h3>
<p>Analysen av en tråd resulterar i att varje inlägg får ett poäng mellan 0 och 100 och därmed en placering beroende på dess poäng. Inlägget med högst poäng får placering 1, inlägget med näst högst poäng får placering 2, och så vidare.</p>
<p>Analysen resulterar även i att varje användare får ett poäng mellan 0 och 100 för sina inlägg. Det är i regel inte så att den användare med högst antal inlägg har högst användarpoäng. Användaren med högst användarpoäng får placering 1, användaren med näst högst användarpoäng får placering 2, och så vidare.</p>
<p>Genom detta poängsystem får vi fram de viktigaste/mest relevanta inläggen och de mest betydelsefulla användarna för tråden.</p>


<h3>Disclaimer</h3>
<p>Rangordningen som presenteras på RankPosts baseras helt och hållet på matematiska algoritmer utan inblandning av någon person. RankPosts tar inte ansvar för innehållet i de inlägg som presenteras. Alla inlägg och meningar är hämtade från Flashback Forum. RankPosts presenterar varje inlägg eller mening tillsammans med flera url-länkar till de specifika sidor på Flashback Forum där inlägget går att hitta och till den användare som har skrivit inlägget.</p>
