<section>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <a class ="listTitle"  ng-click="orderByField='threadTitle'; reverseSort = !reverseSort">
          Flashback Forum Tråd   <span ng-show="orderByField == 'threadTitle'">
            <!-- <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span> -->
          </a>
        </th>
        <th>
          <a  class ="listTitle" ng-click="orderByField='numberOfPosts'; reverseSort = !reverseSort">
            # Inlägg <span ng-show="orderByField == 'numberOfPosts'">
              <!-- <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span> -->
          </a>
        </th>
        <th>
          <a  class ="listTitle" ng-click="orderByField='numberOfUsers'; reverseSort = !reverseSort">
            # Användare <span ng-show="orderByField == 'numberOfUsers'">
              <!-- <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span> -->
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="fileName in fileNames|orderBy:orderByField:reverseSort"  ng-class="{odd: $odd}">
        <td ><a class ="listTitle" ui-sref="thread({threadID: fileName.threadID})">{{fileName.threadTitle}}</a></td>
        <td align="right">{{fileName.numberOfPosts}}</td>
        <td align="right">{{fileName.numberOfUsers}}</td>
      </tr>
    </tbody>
  </table>
</section>
