</br>
</br>
<section>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <a class ="listTitle"  ng-click="orderByField='threadTitle'; reverseSort = !reverseSort">
          Flashback Forum Tråd   </span ng-show="orderByField == 'threadTitle'">
            <!-- <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span> -->
          </a>
        </th>
        <th>
          <a  class ="listTitle" ng-click="orderByField='numberOfPosts'; reverseSort = !reverseSort">
            # Inlägg <span ng-show="orderByField == 'numberOfPosts'">
              <!-- <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span> -->
          </a>
        </th>
        <th>
          <a  class ="listTitle" ng-click="orderByField='numberOfUsers'; reverseSort = !reverseSort">
            # Användare </span ng-show="orderByField == 'numberOfUsers'">
              <!-- <span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span> -->
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="thread in threads|orderBy: '-numberOfPosts'"  ng-class="{odd: $odd}">
        <td ><a class ="listTitle" ui-sref="thread({threadID: thread.threadID})">{{thread.threadTitle}}</a></td>
        <td align="right">{{thread.numberOfPosts}}</td>
        <td align="right">{{thread.numberOfUsers}}</td>
      </tr>
    </tbody>
  </table>
</section>

