<div style="margin-top: -5em" class="page-header">
    <h1>RankPosts</h1>
    <p>analysis and ranking of thread posts and thread users</p>
</div>
<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="active item">
              <img src="../images/slide-grey.png" alt="First Slide">
                <div class="carousel-caption">
                    <h4>Början på ett mediakrig om mångkulturen?</h4>
                    <q>Detta är förmodligen i första hand ett spel för gallerierna här
                        hemma, för givetvis finns det ingen vettig anledning för andra
                        länder att börja föra en destruktiv politik bara för att svenska
                        regimen önskar det, samt inte heller har svensk asylpolitik värst
                        mycket att göra med att ta emot verkliga flyktingar, så det lär
                        knappast ha någon som helst effekt för Sverige hur många verkliga
                        flyktingar andra länder tar emot.</q>
                    </br>
                    <p> Skrivet av <a href="https://www.flashback.org/u545185">Europe</a>
                        på <a href="https://www.flashback.org/t1423112">Flashback Forum.</a></p>
                </div>
            </div>
            <div class="item">
                <img src="../images/slide-grey.png" alt="Second Slide">
                <div class="carousel-caption">
                    <h4>Dikter om kärlek och erotik</h4>
                    <q>i like to feel the spine of your body and its bones, and the
                        trembling -firm-smooth ness and which i will again and again and
                        again kiss, i like kissing this and that of you, i like, slowly
                        stroking the, shocking fuzz of your electric fur, and what-is-it
                        comes over parting flesh.</q>
                    </br>
                    <p> Skrivet av <a href="https://www.flashback.org/u376639">Pewahi</a>
                        på <a href="https://www.flashback.org/t531038">Flashback Forum.</a></p>
                </div>
            </div>
            <div class="item">
                <img src="../images/slide-grey.png" alt="Third Slide">
                <div class="carousel-caption">
                    <h4>Blåsningar på Tradera / Blocket</h4>
                    <q>Jag räknar med att det tar tid innan polisen ens börja utreda
                        säljaren och att jag förmodligen inte kommer få tillbaka pengarna,
                        i mitt fall handlar det inte om så stora belopp så jag överlever
                        utan dem medan det finns personer som har blivit lurade på uppemot
                        8000 kr, några andra har blivit lurade på omkring 5000 kr samt ännu
                        fler omkring 1000 kr osv.</q>
                    </br>
                    <p> Skrivet av <a href="https://www.flashback.org/u281343">v50</a>
                        på <a href="https://www.flashback.org/t959924">Flashback Forum.</a></p>
                </div>
            </div>
            <div class="item">
                <img src="../images/slide-grey.png" alt="Fourth Slide">
                <div class="carousel-caption">
                    <h4>Hur är den typiske SD-väljaren? (sammanfogad)/mod</h4>
                    <q>Men en annan, lika rimlig, förklaring är ju att dessa
                        långinkomsttagare och "förlorare" i större utsträckning tvingas bo
                        i områden där det är invandrartätt, till skillnad från akademiker
                        och politiker som inte alls ser några problem med invandringen i
                        kikaren från sina villor på Lidingö Det är ju ingen hemlighet att
                        SD är väldigt populärt bland svenskar som bor i områden där det
                        även bor många invandrare.</q>
                    </br>
                    <p> Skrivet av <a href="https://www.flashback.org/u158306">Ettan^</a>
                        på <a href="https://www.flashback.org/t551733">Flashback Forum.</a></p>
                </div>
            </div>
            <div class="item">
                <img src="../images/slide-grey.png" alt="Fifth Slide">
                <div class="carousel-caption">
                    <h4>Har du ångest från nyårsafton?</h4>
                    <q>Mina föräldrar var borta så jag hade fest med vänner allt var
                        super, smällde raketer, drack hade roligt, men sen lite senare
                        kanske vid 1 börjar en brud må helt jävla sjukt dåligt och sitter
                        och skakar, helt borta, alla andra tjejer gråter och sånt förutom
                        en som ringde till sjukhuset och fråga vad man skulle göra och så..</q>
                    </br>
                    <p> Skrivet av <a href="https://www.flashback.org/u351730">raggsockan-83</a>
                        på <a href="https://www.flashback.org/t1089559">Flashback Forum.</a></p>
                </div>
            </div>
            <div class="item">
                <img src="../images/slide-grey.png" alt="Sixth Slide">
                <div class="carousel-caption">
                    <h4>Anders Behring Breivik får alltfler sympatisörer</h4>
                    <q>Sen är det en djävla massa skitsnack på sånna här forum
                        (inte minst från mig själv ibland) men hade det varit ens egna
                        barn som blivit mördade på den där ön den där dagen, då skiter
                        jag i vilken religion eller politisk åsikt det gäller eller om
                        han gjorde det "för att förhindra något större å brutalare"
                        som han tycks veta så säkert.</q>
                    </br>
                    <p> Skrivet av <a href="https://www.flashback.org/u389502">Ausonious</a>
                        på <a href="https://www.flashback.org/t1853928">Flashback Forum.</a></p>

                </div>
            </div>
            <div class="item">
                <img src="../images/slide-grey.png" alt="Seventh Slide">
                <div class="carousel-caption">
                    <h4>Brudar som raggar fastän dem har pojkvän</h4>
                    <q>Jag såg en händelse när en tjej och hennes kille kom in och skulle
                        betala i kassan så stog ägaren där, tjejen böjer sig fram och
                        dennna tjej som är väldigt söt och snäll i övrigt hånglar med
                        ägaren som är en liten äcklig syrian medans hennes kille står bredvid.</q>
                    </br>
                    <p> Skrivet av <a href="https://www.flashback.org/u58990">shivaspace</a>
                        på <a href="https://www.flashback.org/t246209">Flashback Forum.</a></p>
                </div>
            </div>
            <div class="item">
                <img src="../images/slide-grey.png" alt="Eighth Slide">
                <div class="carousel-caption">
                    <h4>Investment banker</h4>
                    <q>Jag väljer nog HHS så att jag maximerar mina chanser att komma
                        på intervju (jag kommer inte in på någon Ivy League skola eller
                        liknande), jag vill ju kunna få jobb utanför Sverige (London eller
                        Wall Street) direkt efter examen så att jag inte fastnar här i
                        Stockholm eller i Köpenhamn.</q>
                    </br>
                    <p> Skrivet av <a href="https://www.flashback.org/u679800">gustaf123</a>
                        på <a href="https://www.flashback.org/t326889">Flashback Forum.</a></p>

                </div>
            </div>


        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>


<h2>What is RankPosts?</h2>
<p>Various internet forums contain hundreds, thousands, even tens of
    thousands posts within a single thread. A high majority of posts fail
    to make a meaningful contribution to the discussion in the thread.
    Nonetheless, there are informed users writing posts that capture
    important aspects of what is being discussed.
</p>
<p>RankPosts presents the most important posts, or parts of posts, and most important users involved in the thread.</p>
<br>
<div class="row">
    <div class="col-sm-5">
        <div class="list-group">
            <a  ui-sref="flashback" class="list-group-item">
                <h4 class="list-group-item-heading">Flashback Forum</h4>
                <p class="list-group-item-text" >
                    Analysis and ranking of posts from a number of Flashback Forum threads
                    (https://www.flashback.org/), one of the largest internet forum sites in Sweden.
                </p>
            </a>
        </div>
    </div>
</div>
<h2>How?</h2>
<p>The ranking presented by RankPosts is entirely based on mathematical
    algorithms and without involvement of any person.
</p>
<h2>Interested?</h2>
<p>RankPosts is developed by <a href="www.imatrics.com">iMatrics AB</a>. Interested in what we do? <a href="mailto:imatrics.ab@gmail.com">Let us know!</a></p>
