
<div class="page-header">
	<h2>RankPosts presents the most important posts, 
	or parts of posts, and most important users involved in a thread.</h2>
</div>
<div class="bs-example">
	<div id="myCarousel" class="carousel slide" data-interval="2000"
		data-ride="carousel">
		<!-- Carousel indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>
		<!-- Wrapper for carousel items -->
		<div class="carousel-inner">
			<div class="active item">
				<div class="feedback">
					<!-- IMAGE -->
					<div class="image">
						<!-- i class=" icon_quotations"></i -->
						<img
							src="http://templateocean.com/premium/template/kane/files/images/clients-pic/2.jpg"
							alt="">
					</div>
					<div class="message">
						<h2>Wikileaks grundare Julian Assange eftersökt för våldtäkt
							i Sverige</h2>
						<p>Now that the Swedish government has shown to not have the
							guts to honesty declare whether they will or not “give away”
							Assange to the US, they would at least be fair with its own
							people and answer this question: Does the Swedish government
							consider Julian Assange being a cyber terrorist, as publicly
							declared by the Vice President of the US?</p>
						<div class="company-info center">
							<p>
								Skrivet av <a href="https://www.flashback.org/u641189">LottaContinua</a>
								på <a href="https://www.flashback.org/t1275257p4257">Flashback
									Forum.</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class=" item">
				<div class="feedback">
					<!-- IMAGE -->
					<div class="image">
						<!-- i class=" icon_quotations"></i -->
						<img
							src="http://templateocean.com/premium/template/kane/files/images/clients-pic/2.jpg"
							alt="">
					</div>
					<div class="message">
						<h2>Hur är den typiske SD-väljaren?</h2>
						<p>Men en annan, lika rimlig, förklaring är ju att dessa
							långinkomsttagare och "förlorare" i större utsträckning tvingas
							bo i områden där det är invandrartätt, till skillnad från
							akademiker och politiker som inte alls ser några problem med
							invandringen i kikaren från sina villor på Lidingö Det är ju
							ingen hemlighet att SD är väldigt populärt bland svenskar som bor
							i områden där det även bor många invandrare.</p>
						<div class="company-info center">
							<p>
								Skrivet av <a href="https://www.flashback.org/u376639">Pewahi</a>
								på <a href="https://www.flashback.org/t531038">Flashback
									Forum.</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="feedback">
					<!-- IMAGE -->
					<div class="image">
						<!-- i class=" icon_quotations"></i -->
						<img
							src="http://templateocean.com/premium/template/kane/files/images/clients-pic/2.jpg"
							alt="">
					</div>
					<div class="message">
						<h2>Investment banker</h2>
						<p>Jag väljer nog HHS så att jag maximerar mina chanser att
							komma på intervju (jag kommer inte in på någon Ivy League skola
							eller liknande), jag vill ju kunna få jobb utanför Sverige
							(London eller Wall Street) direkt efter examen så att jag inte
							fastnar här i Stockholm eller i Köpenhamn.</p>
						<div class="company-info center">
							<p>
								Skrivet av <a href="https://www.flashback.org/u376639">Pewahi</a>
								på <a href="https://www.flashback.org/t531038">Flashback
									Forum.</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="about">
	<h2>What is RankPosts?</h2>
	<p>Various internet forums contain hundreds, thousands, even tens
		of thousands posts within a single thread. A high majority of posts
		fail to make a meaningful contribution to the discussion in the
		thread. Nonetheless, there are informed users writing posts that
		capture important aspects of what is being discussed.</p>
	<p>RankPosts presents the most important posts, or parts of posts,
		and most important users involved in the thread.</p>
	<br>
	<div class="row">
		<div class="col-sm-5">
			<div class="list-group">
				<a ui-sref="flashback" class="list-group-item">
					<h4 class="list-group-item-heading">Flashback Forum</h4>
					<p class="list-group-item-text">Analysis and ranking of posts
						from a number of Flashback Forum threads
						(https://www.flashback.org/), one of the largest internet forum
						sites in Sweden.</p>
				</a>
			</div>
		</div>
	</div>
	<h2>How?</h2>
	<p>The ranking presented by RankPosts is entirely based on
		mathematical algorithms and without involvement of any person.</p>
	<h2>Interested?</h2>
	<p>
		RankPosts is developed by <a href="www.imatrics.com">iMatrics AB</a>.
		Interested in what we do? <a href="mailto:imatrics.ab@gmail.com">Let
			us know!</a>
	</p>
</div>
