<div class="page-header">
  <h1>RankPosts</h1>
  <p>analysis and ranking of thread posts and thread users</p>
</div>
<h2>What is RankPosts?</h2>
<p>Various internet forums contain hundreds, thousands, even tens of
  thousands posts within a single thread. A high majority of posts fail
  to make a meaningful contribution to the discussion in the thread.
  Nonetheless, there are informed users writing posts that capture
  important aspects of what is being discussed.
</p>
<p>RankPosts presents the most important posts, or parts of posts, and most important users involved in the thread.</p>
<br>
<div class="row">
  <div class="col-sm-5">
    <div class="list-group">
      <a  ui-sref="flashback" class="list-group-item">
        <h4 class="list-group-item-heading">Flashback Forum</h4>
        <p class="list-group-item-text" >
          Analysis and ranking of posts from 50 Flashback Forum threads
          (https://www.flashback.org/), the largest internet forum site in Sweden.
        </p>
      </a>
    </div>
  </div>
</div>
<h2>How?</h2>
<p>The ranking presented by RankPosts is entirely based on mathematical
  algorithms and without involvement of any person.
</p>
<h2>Interested?</h2>
<p>Interested in what we do? Let us know! <a href="mailto:imatrics.ab@gmail.com">Contact us</a>.</p>


