
<!-- Graf med antal inlägg per vecka över tid -->
<div class="col-md-12">
  <nvd3-line-chart
  data="postsPerWeek"
  id="postsPerWeek"
  height="300"
  showXAxis="true"
  showYAxis="true"
  tooltips="true"
  interactive="true"
  useInteractiveGuideLine="true"
  xAxisTickFormat="xAxisTickFormat()"
  showLegend="false"
  margin="{left:50,top:50,bottom:50,right:50}">
  <svg></svg>
</nvd3-line-chart>
</div>


<!-- Graf med mest inflytelserika användare
<div class="col-md-4">
  <nvd3-discrete-bar-chart
  data="postsPerUser"
  id="postsPerUser"
  height="300"
  showXAxis="true"
  showYAxis="true"
  tooltips="true"
  interactive="true"
  showLegend="true"
  yAxisTickFormat="yAxisTickFormatFunction()"
  xAxisTickFormat="xAxisTickFormatFunction()"
  xAxisRotateLabels="45"
  margin="{left:50,top:50,bottom:50,right:50}">
  <svg></svg>
</nvd3-discrete-bar-chart>
</div>
<!-- Graf med mest aktiva användare
<div class="col-md-4">
  <nvd3-discrete-bar-chart
  data="postsPerUser"
  id="postsPerUser"
  height="300"
  showXAxis="true"
  showYAxis="true"
  tooltips="true"
  interactive="true"
  showLegend="true"
  yAxisTickFormat="yAxisTickFormatFunction()"
  xAxisTickFormat="xAxisTickFormatFunction()"
  xAxisRotateLabels="45"
  margin="{left:50,top:50,bottom:50,right:50}">
  <svg></svg>
</nvd3-discrete-bar-chart>
</div>
-->

<div class="col-md-12">
  <h4>Statistik om tråden {{statistics.threadTitle}}</h4>
  <table class="table table-condensed">
    <tbody>
      <tr><td>Antal inlägg:</td><td>{{statistics.numberOfPosts}}</td></tr>
      <tr><td>Antal användare:</td><td>{{statistics.numberOfUsers}}</td></tr>
      <tr><td>Antal meningar:</td><td>{{statistics.totalSentenceCount}}</td></tr>
      <tr><td>Antal inlägg per användare i medel: </td> <td>{{statistics.avgPostsPerUser}} </td></tr>
      <tr><td>Fösta inlägg: </td><td>{{statistics.startDate}} </td></tr>
      <tr><td>Sista inlägg: </td><td>{{statistics.endDate}} </td></tr>
      <tr><td>Antal dagar: </td><td>{{statistics.duration}} </td></tr>
    </tbody>
  </table>
</div>


<div class="col-md-6">
  <h4>10 mest inflytelserika användare</h4>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Användare</th>
        <th>Placering</th>
        <th># inlägg</th>
        <th>Poäng</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in statistics.topTenImportantPostUserNames" ng-init="userIndex = $index" ng-class="{odd: $odd}">
        <td>{{user}}</td>
        <td>{{statistics.topTenImportantPostUserRank[userIndex][0]}}</td>
        <td >{{statistics.topTenImportantPostUserPostCount[userIndex][0]}}</td>
        <td>{{statistics.topTenImportantPostUserScore[userIndex][0]}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="col-md-6">
<h4>10 mest aktiva användare</h4>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Användare</th>
        <th># inlägg</th>
        <th>Placering</th>
        <th>Poäng</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in statistics.topTenActiveUserNames" ng-init="userIndex = $index" ng-class="{odd: $odd}">
        <td>{{user}}</td>
        <td>{{statistics.topTenActiveUserPostCount[userIndex][0]}}</td>
        <td>{{statistics.topTenActiveUserPostRank[userIndex][0]}}</td>
        <td>{{statistics.topTenActiveUserPostScore[userIndex][0]}}</td>
      </tr>
    </tbody>
  </table>
</div>




<!-- Top 10 most important users -->
<!--

<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>User name</th>
        <th>Number of posts</th>
        <th>Sentence rank</th>
        <th>Sentence score</th>
        <th>Post rank</th>
        <th>Post score</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in statistics.topTenActiveUserNames" ng-class="{odd: $odd}">
        <td>{{user}}</td>
        <td>aaa</td>
        <td>bbb</td>
        <td>ccc</td>
        <td align="right">ddd</td>
        <td align="right">eee</td>
      </tr>
    </tbody>
  </table>
</div>











<div ng-click="toggle()" id = "toggle" class="btn btn-info btn-xs">Visa statistik <span class="caret"></span></div>
<div id="topGraph" class="row well" bn-slide-show="isVisible" slide-show-duration="2000">
<div class="col-md-6">
<nvd3-line-chart
data="postPerDay"
id="postPerDay"
height="250"
showXAxis="true"
showYAxis="true"
tooltips="true"
interactive="true"
useInteractiveGuideLine="true"
xAxisTickFormat="xAxisTickFormat()"
showLegend="true"
margin="{left:50,top:50,bottom:50,right:50}"
>
<svg></svg>
</nvd3-line-chart>
</div>


<div class="col-md-6 ">
<h3 style ="margin-top: 2em;">Statistik om tråden</h3>
<table style="width:300px">
<tr><td>Antal inlägg:</td> 		<td><strong>{{statistics.numberOfPosts}}</strong> </td></tr>
<tr><td>Antal meningar:</td> 	<td><strong>{{statistics.totalSentenceCount}}</strong> </td></tr>
<tr><td>Antal ord:</td> 		<td><strong>{{statistics.totalWordCount}}</strong> </td></tr>
<tr><td>Antal inlägg i medel per dag: </td> <td><strong>{{statistics.avgPostsPerDay}}</strong> </td></tr>
<tr><td>Max antal inlägg per dag:</td> <td><strong>{{statistics.maxPostsPerDay}}</strong> </td></tr>
<tr><td>Min antal inlägg per dag:</td> <td><strong>{{statistics.minPostsPerDay}}</strong> </td></tr>
<tr><td>Datum (fösta inlägg): </td> <td><strong>{{statistics.startDate}}</strong> </td></tr>
<tr><td>Datum (sista inlägg): </td> <td><strong>{{statistics.endDate}}</strong> </td></tr>
<tr><td>Antal dagar: </td> <td><strong>{{statistics.duration}}</strong> </td></tr>
</table>
</div>
</div> -->

<!--

<div id="bottomGraph" class="row well" bn-slide-show="isVisible" slide-show-duration="2000">
<div class="col-md-6">
<nvd3-discrete-bar-chart
data="postsPerUser"
id="postsPerUser"
height="250"
showXAxis="true"
showYAxis="true"
tooltips="true"
interactive="true"
showLegend="true"
yAxisTickFormat="yAxisTickFormatFunction()"
xAxisTickFormat="xAxisTickFormatFunction()"
xAxisRotateLabels="45"
margin="{left:50,top:50,bottom:50,right:50}"
>
<svg></svg>
</nvd3-discrete-bar-chart>
</div>



<div class="col-md-6 ">
<h3 style ="margin-top: 2em;">Statistik om användare</h3>
<table style="width:300px">
<tr><td>Antal användare: </td> <td><strong>{{statistics.numberOfUsers}}</strong> </td></tr>
<tr><td>Antal inlägg per användare i medel: </td> <td><strong>{{statistics.avgPostsPerUser}}</strong> </td></tr>
<tr><td>Antal inlägg per användare i median: </td> <td><strong>{{statistics.medPostsPerUser}}</strong> </td></tr>
<tr><td>Max antal inlägg per användare: </td> <td><strong>{{statistics.maxPostsPerUser}}</strong> </td></tr>
<tr><td>Min antal inlägg per användare: </td> <td><strong>{{statistics.minPostsPerUser}}</strong> </td></tr>
</table>

</div>
</div>
-->



<!--

</br>
<div ng-click="toggle()"  class="btn btn-info btn-xs">Visa statistik <span class="caret"></span></div>
<div id="topGraph" class="row well" bn-slide-show="isVisible" slide-show-duration="2000" resize ng-style="style()">

</div>

<div id="bottomGraph" class="row well" bn-slide-show="isVisible" bn-slide-show-down>

</div>
-->
