<h2>
  Välj en tråd för att se analysresultat!
</h2>
</br>
  <angucomplete-alt id="threadTitle"
                    placeholder="Sök på flashback"
                    pause="400"
                    selected-object="threadSelected"
                    remote-url="/threads/search/?searchQuery="
                    search-fields="threadTitle"
                    title-field="threadTitle"
                    match-class="highlight"
                    minlength="2"
                    input-class="form-control form-control-small"/>
  </br>
</div>


class="angucomplete-dropdown ng-hide" ng-show="showDropdown">
<div class="angucomplete-searching ng-binding ng-hide" ng-show="searching" ng-bind="textSearching">Searching...</div>
<div class="angucomplete-searching ng-binding" ng-show="!searching &amp;&amp; (!results || results.length == 0)" ng-bind="textNoResults">
  No results found</div>
  <!-- ngRepeat: result in results -->
</div></div></div>
