<div ng-click="toggle()"  class="btn btn-info btn-xs">Visa statistik <span class="caret"></span></div>
<div id="topGraph" class="row well" bn-slide-show="isVisible" slide-show-duration="2000" resize ng-style="style()">
  <div class="col-md-6">
    <nvd3-line-chart
    data="postPerDay"
    id="postPerDay"
    height="250"
    showXAxis="true"
    showYAxis="true"
    tooltips="true"
    interactive="true"
    useInteractiveGuideLine="true"
    xAxisTickFormat="xAxisTickFormat()"
    showLegend="true"
    margin="{left:50,top:50,bottom:50,right:50}">
    <svg></svg>
  </nvd3-line-chart>

</div>
<div class="col-md-6 ">
  <h3 style ="margin-top: 2em;">Statistik om tråden</h3>
  <table style="width:300px">
    <tr><td>Antal inlägg:</td> 		<td><strong>{{statistics.numberOfPosts}}</strong> </td></tr>
    <tr><td>Antal meningar:</td> 	<td><strong>{{statistics.totalSentenceCount}}</strong> </td></tr>
    <tr><td>Antal ord:</td> 		<td><strong>{{statistics.totalWordCount}}</strong> </td></tr>
    <tr><td>Antal inlägg i medel per dag: </td> <td><strong>{{statistics.avgPostsPerDay}}</strong> </td></tr>
    <tr><td>Max antal inlägg per dag:</td> <td><strong>{{statistics.maxPostsPerDay}}</strong> </td></tr>
    <tr><td>Min antal inlägg per dag:</td> <td><strong>{{statistics.minPostsPerDay}}</strong> </td></tr>
    <tr><td>Datum (fösta inlägg): </td> <td><strong>{{statistics.startDate}}</strong> </td></tr>
    <tr><td>Datum (sista inlägg): </td> <td><strong>{{statistics.endDate}}</strong> </td></tr>
    <tr><td>Antal dagar: </td> <td><strong>{{statistics.duration}}</strong> </td></tr>
  </table>

</div>

</div>

<div id="bottomGraph" class="row well" bn-slide-show="isVisible" bn-slide-show-down>
  <div class="col-md-6">
    <nvd3-discrete-bar-chart
    data="postsPerUser"
    id="postsPerUser"
    height="250"
    showXAxis="true"
    showYAxis="true"
    tooltips="true"
    interactive="true"
    showLegend="true"
    yAxisTickFormat="yAxisTickFormatFunction()"
    xAxisTickFormat="xAxisTickFormatFunction()"
    xAxisRotateLabels="45"
    margin="{left:50,top:50,bottom:50,right:50}"
    >
    <svg></svg>
  </nvd3-discrete-bar-chart>

</div>
<div class="col-md-6 ">
  <h3 style ="margin-top: 2em;">Statistik om användare</h3>
  <table style="width:300px">
    <tr><td>Antal användare: </td> <td><strong>{{statistics.numberOfUsers}}</strong> </td></tr>
    <tr><td>Antal inlägg per användare i medel: </td> <td><strong>{{statistics.avgPostsPerUser}}</strong> </td></tr>
    <tr><td>Antal inlägg per användare i median: </td> <td><strong>{{statistics.medPostsPerUser}}</strong> </td></tr>
    <tr><td>Max antal inlägg per användare: </td> <td><strong>{{statistics.maxPostsPerUser}}</strong> </td></tr>
    <tr><td>Min antal inlägg per användare: </td> <td><strong>{{statistics.minPostsPerUser}}</strong> </td></tr>
  </table>

</div>

</div>

<div class="row marketing">
  <tabset class ="mRow">
        <tab>
          <tab-heading>
            <a ui-sref="thread.bestPost" ui-sref-active="active">Bästa Inlägg </a>
          </tab-headizng>
        </tab>
        <tab>
          <tab-heading>
            <a ui-sref="thread.bestSentence">Bästa mening           </a>
          </tab-heading>
        </tab>
        <tab>
          <tab-heading>
            <a ui-sref="thread.bestPostTemporal">Bästa inlägg efter tid</a>
          </tab-heading>
        </tab>
        <tab>
          <tab-heading>
            <a ui-sref="thread.bestSentenceTemporal">Bästa mening efter tid</a>
          </tab-heading>
        </tab>
  </tabset>

  <!--<div ui-view="tabs"></div>-->
  <div ui-view></div>
</div>
